form{
    width: 50%;
    position: absolute;
    top: 20%;
    left: 26%;
}

    h2{
        margin-top: 100px;;
        text-align: center;
        color: black;

    }
    body{
        font-family: Nier Font;
        background-image: url('../images/FEavsVy-j8Tp1WUKQ1qaIc8pwlxSoWx2EwmBK4X6w5c.jpg');
        @font-face {
            font-family: 'Nier Font';
            src: url('ITC Benguiat Book.ttf') format('truetype');
          }

        }

        label{

            color: black;


        }

        input{
            border: 1px solid black !important;
            border-radius: 10px !important;



        }

        button{
            background-color: transparent !important;
            color: black !important;
            border: 1px solid black !important;
            border-radius: 10px !important;
            margin-top: 20px !important;
            

        }